<!DOCTYPE html>
<html>
<head>
    <title>Your Weekly Amenity Updates</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
    <img src="https://crowded-airport.com/email.jpg" alt="Crowded Airport Header" style="width: 100%; height: auto;">
    <h1 style="color: #6366F1;">Hey {{name}}!</h1>

    <p>Thank you for adopting {{amenity.thing}}! You can now follow the journey it is on and can expect regular updates from us :)</p>

    <p>Wishing you a fantastic week ahead and safe travels wherever you are!</p>

    <p>Warm regards,</p>
    <strong>Rik Verbeek</strong><br><br>
    <strong>Crowded Airport</strong> – Where Your Contributions Make Journeys Brighter!
</body>
</html>
